.section {
    background-position: center;
    .efTitle1 {
        transition: all .5s linear;
        transform: translate(0, 100px);
        opacity: 0;
    }
}

.section.firstSetcAnimated {
    .section1__inner1 {
        h2 {
            -webkit-text-stroke: 1.5px #ffffff;
            text-stroke: 1.5px #ffffff;
            max-height: 300px;
            transition: all 1s linear;
            &:last-child {
                background: #ffffff;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                visibility: visible;
                transition-delay: .7s;
            }
        }
    }
}

.section.effect {
    .section-mask {
        visibility: visible;
        transition: all .7s linear;
        background: rgba(#000, .6);
    }
    .efTitle1 {
        transition: all .5s linear;
        transition-delay: .5s;
        transform: translate(0, 0px);
        opacity: 1;
    }
    .section4-img::before {
        max-height: 0;
        transition: all .5s linear;
    }
    .section4-container p::before {
        max-width: 0;
        transition: all .5s linear;
    }
}

.section4-img {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        max-height: 1000px;
        background: #090C12;
        transition: all .5s linear;
    }
}

.section4-container p {
    z-index: 2;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        max-width: 1000px;
        background: #090C12;
        transition: all .5s linear;
    }
}

.section.after-effect {
    background-position: center 700px;
    transition: background-position .7s linear;
    .section-mask {
        transition: all 1s linear;
        background: rgba(#ffffff, .7);
    }
    .efTitle1 {
        transition: all .7s linear;
        transform: translate(0, 705px);
        opacity: 0;
    }
    .section4-container {
        opacity: 0;
        transform: translate(0px, 650px);
        transition: all .3s linear;
    }
}
.section4-container {
    transition: all .3s linear;
}

.section-mask {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .7s linear;
    background: rgba(#000, .0);
    & + div {
        position: relative;
        z-index: 1;
    }
}

.sections-title1 {
    display: none;
    font-family: 'DrukWideCyTTBold';
    color: #ffffff;
    font-weight: bold;
    font-size: 64px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transition: all .7s linear;
    transform: translate(-50%, 130%);
    z-index: 1;
    &.animated {
        transform: translate(-50%, -50%);
    }
    span {
        color: $yel;
        transition: all .3s linear;
    }
    &.transp {
        top: 10%;
        transition: all .7s linear;
        color: transparent;
        -webkit-text-stroke: 1.5px #50535C;
        text-stroke: 1.5px #50535C;
        span {
            color: transparent;
            transition: all .3s linear;
        }
    }
}

.section1__inner1 {
    position: relative;
    h2 {
        color: transparent;
        -webkit-text-stroke: 1.5px #ffffff;
        text-stroke: 1.5px #ffffff;
        max-height: 0;
        overflow: hidden;
        transition: all .5s linear;
        &:last-child {
            visibility: hidden;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            max-height: unset;
            text-align: center;
            color: #ffffff;
        }
    }
}

.sections-subtitle1, .sections-subtitle2, .sections-subtitle3 {
    visibility: hidden;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 480px;
    margin-right: 10px;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
    max-height: 0;
    transition: all 1s linear;
    opacity: 0;
    overflow: hidden;
    &.animated {
        visibility: visible;
        max-height: 400px;
        opacity: 1;
        transition: all 1s linear;
    }
}

@media (max-width: 1024px) {
    .sections-subtitle1, .sections-subtitle2, .sections-subtitle3 {
        top: 27%;
        max-width: 100%;
        font-size: 36px;
    }
}
@media (max-width: 767px) {
    .sections-title1 {
        font-size: 54px;
        &.transp {
            font-size: 42px;
        }
    }
}

@media (max-width: 514px) {
    .sections-title1 {
        font-size: 20px;
        &.transp {
            font-size: 20px;
        }
    }
    .sections-subtitle1, .sections-subtitle2, .sections-subtitle3 {
        top: 19%;
        font-size: 20px;
    }
}

@media (max-width: 350px) {
    .sections-title1.transp {
        top: 12%;
    }
}