.wrapper {
    .footer {
        padding: 0 15px;
    }
    .footer__right {
        padding: 0 !important;
    }
    .footer__inner {
        padding: 24px 0;
    }
    .footer__left {
        padding-right: 0 !important; 
    }
}

.footer__inner {
    width: 100%;
    padding: 24px 15px;
    width: 100%;
    max-width: 1792px;
    margin: 0 auto;
}

.footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.footer__left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 38px;
    img {
        max-width: 100%;
    }
}

.footer__social {
    display: flex;
    align-items: center;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border: 1px solid #838380;
        transition: all .3s linear;
        margin-right: 16px;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            border-color: $yel;
            transition: all .3s linear;
            svg {
                path {
                    fill: $yel;
                    transition: all .3s linear;
                }
            }
        }
    }
}

.footer__mid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__link {
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    transition: all .3s linear;
    margin-right: 20px;
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        color: $yel;
        transition: all .3s linear;
    }
}

.footer__copy {
    font-weight: normal;
    font-size: 15px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    margin-top: 38px;
}

.footer__right {
    display: flex;
    align-items: center;
    padding-right: 30px;
    .header-num {
        margin-right: 24px;
    }
}

@media (max-width: 1280px) {
    .footer__mid {
        display: none;
    }
    .footer__right {
        padding-right: 30px;
    }
}

@media (max-width: 800px) {
    .footer__right {
        display: none;
    }
    .footer__left {
        width: 100%;
        justify-content: space-between;
        padding-right: 35px;
    }
}

@media (max-width: 514px) {
    .footer__left {
        padding-right: 25px;
    }
    .footer__social a {
        width: 32px;
        height: 32px;
        margin-right: 8px;
        svg {
            max-width: 50%;
            max-height: 50%;
        }
    }
    .footer__logo {
        height: 40px;
        img {
            height: 40px;
        }
    }
    .footer__inner {
        padding: 16px 15px;
    }
    .footer__copy {
        font-size: 11px;
        margin-top: 20px;
        position: relative;
    }
}