.main-page {
    .header {
        display: none;
    }
}

.wrapper {
    .header {
        background: #090C12;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 1792px;
    padding: 16px 0;
    z-index: 101;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-width: 100%;
    }
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 456px;
}

.header-num {
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
    text-decoration: none;
    transition: all .3s linear;
    &:hover {
        color: $yel;
        transition: all .3s linear;
    }
}

.header-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 30px 13px;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: $wh;
    border: 1px solid #838380;
    transition: all .3s linear;
    &:hover {
        border-color: $yel;
        color: $yel;
        transition: all .3s linear;
    }
}

.header-burger {
    width: 40px;
    height: 40px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 13px;
        left: 0;
        width: 100%;
        height: 2px;
        background: $wh;
        transition: all .3s linear;
    }

    &::after {
        content: "";
        position: absolute;
        top: 27px;
        left: 0;
        width: 100%;
        height: 2px;
        background: $wh;
        transition: all .3s linear;
    }
    &.active {
        &::before {
            transform: rotate(45deg);
            top: 50%;
            bottom: auto;
            transition: all .3s linear;
        }
        &::after {
            transform: rotate(-45deg);
            top: 50%;
            bottom: auto;
            transition: all .3s linear;
        }
    }
}

@media (max-width: 710px) {
    .header-num {
        color: transparent;
        width: 32px;
        height: 32px;
        border: 1px solid #838380;
        background: url(../img/phone.svg) center no-repeat;
        background-size: 12px;
        font-size: 0;
    }

    .header-link {
        color: transparent;
        width: 32px;
        height: 32px;
        border: 1px solid #838380;
        background: url(../img/cal.svg) center no-repeat;
        background-size: 16px;
        padding: 0;
        font-size: 0;
    }

    .header__menu {
        max-width: 112px;
    }

    .header-burger {
        width: 24px;
        height: 12px;
    }

    .header-burger::before {
        top: 0;
    }
    .header-burger::after {
        top: 10px;
    }

    .header__logo img {
        height: 40px;
    }

    .header {
        padding: 12px 0;
    }
    .header-link {
        &:hover {
            border-color: $yel;
            color: transparent;
            transition: all .3s linear;
        }
    }
    .header-num {
        &:hover {
            border-color: $yel;
            color: transparent;
            transition: all .3s linear;
        }
    }
}