.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #090C12;
    z-index: 100;
    display: flex;
    align-items: center;
    visibility: hidden;
}

.menu__person {
    a {
        span {
            span {
                &:first-child {
                    margin-right: 0;
                }
                &:last-child {
                    font-weight: 400;
                }
            }
        }
    }
}

.menu__container {
    max-width: 1008px;
    margin: 0 auto;
}

.menu__login {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 93px;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 72px;
        width: 100%;
        max-width: 300px;
        border: 1px solid #50535C;
        transition: all .3s linear;
        position: relative;
        &:last-child {
            position: relative;
            left: -1px;
        }
        span {
            &:first-child {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 16px;
                svg {
                    width: 19px;
                    height: 21px;
                    path {
                        fill: white;
                        transition: all .3s linear;
                    }
                }
            }
            &:last-child {
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 130%;
                text-align: center;
                color: #FFFFFF;
                transition: all .3s linear;
            }
        }
        &:hover {
            border-color: $yel;
            z-index: 1;
            transition: all .3s linear;
            span {
                &:first-child {
                    svg {
                        path {
                            fill: $yel;
                            transition: all .3s linear;
                        }
                    }
                }
                &:last-child {
                    color: $yel;
                    transition: all .3s linear;
                }
            }
        }
    }
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    a {
        margin-bottom: 40px;
        transition: all .3s linear;
        &:hover {
            -webkit-text-stroke: 1.5px $yel;
            text-stroke: 1.5px $yel;
            transition: all .3s linear;
        }
    }
}

@media screen and (min-width: 1000px) and (max-height: 800px) {
    .menu__login {
        position: relative;
        top: 70px;
    }
}
@media screen and (min-width: 1000px) and (max-height: 600px) {
    .menu__container {
        position: relative;
        top: 40px;
    }
}
@media (max-width: 1280px) {
    .menu__container {
        transform: scale(.7);
    }
}

@media (max-width: 1024px) {
    .menu__container {
        transform: scale(1);
    }
    .menu__login {
        margin-bottom: 30px;
    }
    .menu__links a {
        font-size: 36px;
    }
}

@media (max-width: 570px) {
    .menu__links a {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .menu__login {
        align-items: stretch;
    }
    .menu__login a {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 8px 8px;
        height: auto;
        span {
            &:first-child {
                margin-right: 0;
                margin-bottom: 4px;
                svg {
                    width: 12px;
                    height: 14px;
                }
            }
            &:last-child {
                text-align: left;
                font-size: 14px;
            }
        }
        text-align: left;
    }
    .menu__person {
        a {
            &:last-child {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}