.thanks {
    min-height: calc(100vh - 169px - 156px);
    padding-top: 156px;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        width: 100%;
    }
}

.thanks__inner {
    max-width: 992px;
    margin: 0 auto;
    border: 1px solid #32343A;
    text-align: center;
    padding: 64px 10px 76px;
    h1 {
        font-weight: bold;
        font-size: 40px;
        line-height: 120%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 32px;
    }
    p {
        font-weight: 600;
        font-size: 22px;
        line-height: 130%;
        text-align: center;
        color: #DDDDDD;
        margin-bottom: 48px;
    }
}

.thanks__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 232px;
        height: 48px;
        border: 1px solid #838380;
        transition: all .3s linear;
        margin-right: 16px;
        &:last-child {
            margin-right: 0;
            span {
                margin: 0;
            }
        }
        span {
            &:first-child {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 16px;
                svg {
                    width: 7px;
                    height: 14px;
                    path {
                        stroke: white;
                        transition: all .3s linear;
                    }
                }
            }
            &:last-child {
                font-weight: normal;
                font-size: 18px;
                line-height: 130%;
                text-align: center;
                color: #FFFFFF;
                transition: all .3s linear;
            }
        }
        &:hover {
            border-color: $yel;
            transition: all .3s linear;
            span {
                &:first-child {
                    svg {
                        path {
                            stroke: $yel;
                            transition: all .3s linear;
                        }
                    }
                }
                &:last-child {
                    color: $yel;
                    transition: all .3s linear;
                }
            }
        }
    }
}

.thanks__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    svg {
        width: 140px;
        height: 140px;
    }
}

@media (max-width: 710px) {
    .thanks {
        padding-top: 80px;
        margin-bottom: 40px;
    }
}


@media (max-width: 514px) {
    .thanks {
        min-height: calc(100vh - 80px - 156px);
        .container {
            width: 100%;
        }
    }
    .thanks__inner {
        width: auto;
        padding: 52px 15px 32px;
    }
    .thanks__img {
        margin-bottom: 24px;
        svg {
            width: 70px;
            height: 70px;
        }
    }
    .thanks__inner h1 {
        max-width: 200px;
        margin: 0 auto 16px;
        font-size: 20px;
    }
    .thanks__inner p {
        font-size: 16px;
        margin-bottom: 24px;
    }
    .thanks__btns {
        flex-wrap: wrap;
        a {
            margin: 0;
            font-size: 14px;
            &:last-child {
                margin-top: 16px;
                span {
                    margin: 0;
                }
            }
        }
    }
}