@import "fonts";
@import "vars";
@import "libs";
@import "global";
@import "header";
@import "footer";
@import "menu";
@import "modal";
@import "main/main-sections";
@import "main/benefit";
@import "main/bike";
@import "main/bike";
@import "main/bonus";
@import "main/index";
@import "main/trener";
@import "main/spa";
@import "main/last-section";
@import "about/video";
@import "about/steps";
@import "about/lesson";
@import "about/security";
@import "about/interlayer";
@import "career/career";
@import "subscription/subscription";
@import "profile/profile";
@import "profile/workout";
@import "rates/rates";
@import "payment/payment";
@import "thanks";
@import "reservation/reservation";
@import "reservation/reservation2";
@import "place/place";
@import "effects";
@import "main/vectors";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

body {
    font-family: 'Oswald';
    background: #090C12;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

.wrapper {
    overflow: hidden;
}

.wrapper-sm {
    position: relative;
    min-height: calc(100vh - 169px);
    padding-bottom: 169px;
    .footer {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 0;
        width: calc(100% - 30px);
        padding: 0;
    }
}

.container {
    max-width: 1505px;
    margin: 0 auto;
    padding: 0 15px;
}

.stroke-title {
    font-family: 'DrukWideCyTTBold';
    color: transparent;
    -webkit-text-stroke: 1.5px #50535C;
    text-stroke: 1.5px #50535C;
    font-weight: bold;
    font-size: 64px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.owl-dots {
    display: flex;
    align-items: center;
    margin-top: 8px;
}
.owl-dot {
    width: 12px;
    height: 4px;
    background: #fff !important;
    margin-right: 8px;
    transition: all .3s linear;
    outline: none !important;
    &.active {
        width: 24px;
        background: $yel !important;
        transition: all .3s linear;
    }
}

.slider-arrows {
    display: flex;
    align-items: center;

    div {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        margin-right: 8px;
        border: 1px solid #838380;
        transition: all .3s linear;

        &:last-child {
            margin-right: 0;
        }

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            svg {
                path {
                    transition: all .3s linear;
                }
            }
        }
        &:hover {
            border-color: $yel;
            transition: all .3s linear;
            span {
                svg {
                    path {
                        stroke: $yel !important;
                        transition: all .3s linear;
                    }
                }
            }
        }
    }
}

.fpa-auto-height {
    height: auto !important;
}

.reserv__top {
    border-bottom: 1px solid #32343A;
    padding-bottom: 32px;
    margin-bottom: 57px;
}

.reserv__back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 232px;
    height: 48px;
    border: 1px solid #838380;
    transition: all .3s linear;
    span {
        &:first-child {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 16px;
            svg {
                width: 7px;
                height: 14px;
                path {
                    stroke: white;
                    transition: all .3s linear;
                }
            }
        }
        &:last-child {
            font-weight: normal;
            font-size: 18px;
            line-height: 130%;
            text-align: center;
            color: #FFFFFF;
            transition: all .3s linear;
        }
    }
    &:hover {
        border-color: $yel;
        transition: all .3s linear;
        span {
            &:first-child {
                svg {
                    path {
                        stroke: $yel;
                        transition: all .3s linear;
                    }
                }
            }
            &:last-child {
                color: $yel;
                transition: all .3s linear;
            }
        }
    }
}

@media (max-width: 1024px) {
    h2.stroke-title {
        text-align: left;
        font-size: 42px;
    }
    .slider-arrows div {
        width: 32px;
        height: 32px;

        span {
            svg {
                width: 6px;
                height: 10px;
            }
        }
    }
}

@media (max-width: 767px) {
    .wrapper-sm {
        position: relative;
        min-height: calc(100vh - 169px);
        padding-bottom: 169px;
        .footer {
            position: static;
            transform: unset;
            width: auto;
            padding: 0 15px;
        }
    }
}

@media (max-width: 514px) {
    h2.stroke-title {
        font-size: 20px;
    }
    .wrapper-sm {
        padding-bottom: 0;
        height: auto;
    }
    .reserv__top {
        margin-bottom: 28px;
        h1 {
            margin-bottom: 16px;
            padding: 0;
        }
    }
    .reserv__back {
        max-width: 183px;
        height: 32px;
        span {
            &:first-child {
                svg {
                    width: 6px;
                    height: 10px;
                }
            }
            &:last-child {
                font-size: 14px;
            }
        }
    }
}

@import "media";