.benefit {
    overflow: hidden;
}

.benefit__wr {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    h2 {
        font-family: 'DrukWideCyTTBold';
        color: transparent;
        -webkit-text-stroke: 1.5px #50535C;
        text-stroke: 1.5px #50535C;
        font-weight: bold;
        font-size: 64px;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
    }
}

.benefit__item .benefit__item-img .vb2-different {
    max-width: unset !important;
    width: 103% !important;
    top: -27px;
    left: -12px;
}

.benefit__slider {
    display: flex;
    align-items: center;
    justify-content: center;

    .owl-stage {
        display: flex;
        align-items: flex-end;
    }
}

.benefit__item {
    visibility: hidden;
    display: flex;
    position: absolute;
    bottom: 0;

    &.showed {
        visibility: visible;

        .vb2 {
            visibility: visible;
            opacity: 1;
            transition: all 1s linear;
            transition-delay: .5s;
        }

        .benefit__item-text {
            opacity: 1;
            transition: all 1.5s linear;
            transition-delay: 1s;
        }
    }

}

.vb2 {
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

.benefit__item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    img {
        width: auto !important;
        max-width: 100%;
    }
}

.benefit__item-text {
    opacity: 0;
    position: absolute;
    top: calc(50% - 60px);
    right: calc(50% - 492px);
    z-index: 1;
    font-weight: normal;
    font-size: 28px;
    line-height: 120%;
    color: #FFFFFF;

    &::after {
        content: "";
        position: absolute;
        top: calc(50% + 4px);
        left: -126px;
        width: 110px;
        height: 2px;
        background: #fff;
    }
}

.benefit__item-text3 {
    right: calc(50% - 715px);
}

.benefit__item-text4 {
    right: calc(50% - 542px);
}

.benefit__item-text5 {
    top: calc(50% - -2px);
    right: calc(50% - 782px);
}

.benefit__item-text6 {
    top: calc(50% - -59px);
    right: calc(50% - 682px);
}

.benefit__item6 {
    bottom: 200px;
}

.benefit__control {
    position: absolute;
    z-index: 1;
    top: calc(50% - 81px);
    left: calc(50% - 728px);
}

.benefit__control {
    h3 {
        font-weight: bold;
        font-size: 56px;
        line-height: 120%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

.benefit__control-num {
    font-weight: 200;
    font-size: 24px;
    line-height: 71px;
    text-transform: uppercase;
    color: #FFFFFF;

    span {
        font-size: 48px;
    }
}

.benefit__control-arrows {
    display: flex;
    align-items: center;

    div {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        margin-right: 8px;
        border: 1px solid #838380;
        position: relative;
        transition: all .3s linear;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            border: 1px solid $yel;
            transition: all .3s linear;

            span {
                svg {
                    path {
                        stroke: $yel;
                        transition: all .3s linear;
                    }
                }
            }
        }

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;

            svg {
                path {
                    transition: all .3s linear;
                }
            }
        }

        .blink {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            width: 100%;
        }

        &.blinking {
            border: 1px solid $yel;

            .blink {
                border: 1px solid $yel;
                animation: blinkig 1s linear infinite;
            }

            &:hover {
                .blink {
                    border: 1px solid $yel;
                    animation: unset;
                }
            }
        }
    }
}

@keyframes blinkig {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

.benefit__item-img {
    position: relative;
    z-index: 1;
}

.benefit__item-vector {
    &__img {
        opacity: 0;
        position: absolute;

        &:nth-child(1) {
            top: 50px;
            left: -100px;
            transform: translate(0px, 70px);
        }

        &:nth-child(2) {
            top: 50px;
            right: -100px;
            transform: translate(70px, 0px);
        }

        &:nth-child(3) {
            bottom: 100px;
            left: -200px;
            transform: translate(-70px, 0px);
        }

        &:nth-child(4) {
            bottom: 0;
            right: -300px;
            transform: translate(0px, 70px);
        }
    }
}

.benefit__item6 {
    .benefit__item-vector {
        &__img {
            position: absolute;

            &:nth-child(1) {
                top: 50px;
                left: 0px;
            }

            &:nth-child(2) {
                top: 50px;
                right: 0px;
            }

            &:nth-child(3) {
                bottom: 100px;
                left: 0px;
            }

            &:nth-child(4) {
                bottom: 0;
                right: 0px;
            }
        }
    }
}

.benefit__item.showed {
    .benefit__item-vector {
        &__img {
            opacity: 1;
            transition: all .2s linear;

            &:nth-child(1) {
                top: 50px;
                left: -100px;
                transition-delay: .1s;
                transform: translate(0px, 0px);
            }

            &:nth-child(2) {
                top: 50px;
                right: -100px;
                transition-delay: .2s;
                transform: translate(0px, 0px);
            }

            &:nth-child(3) {
                bottom: 100px;
                left: -200px;
                transition-delay: .3s;
                transform: translate(0px, 0px);
            }

            &:nth-child(4) {
                bottom: 0;
                right: -300px;
                transition-delay: .4s;
                transform: translate(0px, 0px);
            }
        }
    }
}

.benefit__item6.showed {
    .benefit__item-vector {
        &__img {
            position: absolute;

            &:nth-child(1) {
                top: 50px;
                left: 0px;
            }

            &:nth-child(2) {
                top: 50px;
                right: 0px;
            }

            &:nth-child(3) {
                bottom: 100px;
                left: 0px;
            }

            &:nth-child(4) {
                bottom: 0;
                right: 0px;
            }
        }
    }
}


@media (max-height: 1000px) {
    .benefit__slider {
        position: relative;
    }

    .benefit__control {
        bottom: 0;
    }

    .benefit__wr h2 {
        margin-bottom: -200px;
    }
}

@media (max-width: 1600px) {
    .benefit__control {
        left: calc(50% - 617px);
    }

    .benefit__item-text {
        right: calc(50% - 467px);

        p {
            max-width: 200px;
        }
    }

    .benefit__item-text3 {
        right: calc(50% - 490px);
    }

    .benefit__item-text4 {
        right: calc(50% - 420px);
    }

    .benefit__item-text5 {
        right: calc(50% - 510px);

        p {
            max-width: 251px;
        }
    }
}

@media (max-width: 1270px) {
    .benefit__item6 {
        bottom: 0;
    }

    .benefit__control {
        left: calc(50% - 417px);
        top: calc(50% - 0px);
    }

    .benefit__slider {
        transform: scale(.7);
    }

    .benefit__wr h2 {
        margin-bottom: -350px;
    }

    .benefit__item-text6 {
        top: calc(50% - -19px);
    }
}

@media (max-width: 1024px) {
    .benefit__wr {
        padding: 0 15px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
            order: 1;
            text-align: left;
            font-size: 42px;
            margin: 0;
        }
    }

    .benefit__control {
        position: static;
        order: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 130px;
    }

    .benefit__control-num {
        margin: 0 13px 0 auto;
    }

    .benefit__control h3 {
        font-size: 32px;
    }

    .benefit__control-num {
        font-size: 14px;

        span {
            font-size: 24px;
        }
    }

    .benefit__control-arrows div {
        width: 32px;
        height: 32px;

        span {
            svg {
                width: 6px;
                height: 10px;
            }
        }
    }

    .benefit__slider {
        bottom: 0;
    }

    .benefit__slider {
        order: 3;

        .owl-carousel.owl-loaded {
            display: flex;
            align-items: flex-start;
            height: 500px;
        }

        .owl-stage {
            height: 765px;
        }
    }

    // .benefit__item {
    //     overflow: hidden;
    // }

    .benefit__item-img {
        position: relative;
    }

    .benefit__item-text {
        right: calc(50% - 477px);
    }
}

@media (max-width: 800px) {
    .benefit__item-text {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .benefit__slider .owl-stage {
        height: auto;
    }
}
.vb-mob {
    display: none;
}
@media (max-width: 514px) {
    .benefit__wr {
        justify-content: flex-end;
        position: relative;
    }
    .benefit__item-img {
        width: 100%;
        right: 60px;
        img {
            width: 100% !important;
        }
    }

    .benefit__control-num {
        line-height: 100%;
    }

    .benefit__control {
        position: absolute;
        padding: 0;
        margin-bottom: 30px;
        width: calc(100% - 30px);
        position: absolute;
        padding: 0;
        height: 34px;
        top: 22%;
        left: 15px;
    }

    .benefit__control h3 {
        font-size: 20px;
    }

    .benefit__wr h2 {
        font-size: 20px;
        margin-bottom: 14px;
    }

    .benefit__item-text {
        font-size: 14px;
        line-height: 120%;

        &::after {
            width: 24px;
            left: -32px;
            height: 1px;
        }
    }

    .benefit__item-text1 {
        right: calc(50% - 257px);
        top: 50%;
    }

    .benefit__item-text2 {
        right: calc(50% - 252px);
        top: calc(50% - 0px);
    }

    .benefit__item-text3 {
        right: calc(50% - 272px);
        top: calc(50% - 0px);
        max-width: 145px;
    }

    .benefit__item-text::after {
        top: 10px;
    }

    .benefit__item-text4 {
        right: calc(50% - 209px);
        top: calc(50% - 105px);
        max-width: 145px;
    }

    .benefit__item-text5 {
        right: calc(50% - 258px);
        top: calc(50% + 30px);
        max-width: 145px;
    }

    .benefit__item6 {
        overflow: visible;
    }

    .benefit__item-text6 {
        right: calc(50% - 58px);
        top: calc(50% - 181px);
        max-width: 280px;

        br {
            display: none;
        }

        &::after {
            top: auto;
            left: 0;
            bottom: -100px;
            width: 1px;
            height: 85px;
        }
    }

    .benefit__wr h2 {
        padding: 0 15px;
    }

    .benefit__item-vector__img {
        img {
            width: 100%;
            max-width: 60%;
        }
    }

    .benefit__item.showed {
        .benefit__item-vector {
            &__img {
                opacity: 1;
                transition: all .2s linear;

                &:nth-child(1) {
                    top: 50px;
                    left: -100px;
                    transition-delay: .1s;
                    transform: translate(0px, 0px);
                }

                &:nth-child(2) {
                    top: 50px;
                    right: -100px;
                    transition-delay: .2s;
                    transform: translate(0px, 0px);
                }

                &:nth-child(3) {
                    bottom: 100px;
                    left: -200px;
                    transition-delay: .3s;
                    transform: translate(0px, 0px);
                }

                &:nth-child(4) {
                    bottom: 0;
                    right: -300px;
                    transition-delay: .4s;
                    transform: translate(0px, 0px);
                }
            }
        }
    }

    .benefit__item6.showed {
        .benefit__item-vector {
            &__img {
                position: absolute;

                &:nth-child(1) {
                    top: 50px;
                    left: -50px;
                }

                &:nth-child(2) {
                    top: 50px;
                    right: -50px;
                }

                &:nth-child(3) {
                    bottom: 100px;
                    left: -50px;
                }

                &:nth-child(4) {
                    bottom: 0;
                    right: -50px;
                }
            }
        }
    }

    .benefit__item-img {
        img {
            display: none;
        }
    }

    .benefit__item {
        width: 100%;
        .vb-mob {
            display: block;
        }
        .vb-mob.vb-mob-effect {
            display: block;
            visibility: hidden;
            opacity: 0;
            position: absolute;
        }
        &.showed {
            visibility: visible;

            .benefit__item-img .vb-mob.vb-mob-effect {
                visibility: visible;
                opacity: 1;
                transition: all 1s linear;
                transition-delay: .5s;
            }

            .benefit__item-text {
                opacity: 1;
                transition: all 1.5s linear;
                transition-delay: 1s;
            }
        }

    }

    .vb-mob-diff {
        transform: scale(1.1);
    }

    .benefit__item6 {
        .benefit__item-img {
            right: 0;
            bottom: 120px;
        }
        img {
            transform: scale(1.5);
        }
    }

}

@media (max-width: 450px) {
    .benefit__item-text6 {
        top: 0;
        right: calc(50% - 96px);
    }

    .benefit__item-text6::after {
        top: auto;
        left: 0;
        bottom: -51px;
        width: 1px;
        height: 43px;
    }
}

@media (max-width: 514px) {
    .benefit__item-text1 {
        right: calc(50% - 157px);
        top: 30%;
    }

    .benefit__item-text2 {
        right: calc(50% - 182px);
        top: 32%;
    }

    .benefit__item-text3 {
        right: calc(50% - 190px);
        top: 30%;
    }

    .benefit__item-text4 {
        right: calc(50% - 139px);
        top: calc(50% - 105px);
    }

    .benefit__item-text5 {
        right: calc(50% - 180px);
        top: 37%;
    }

    .benefit__item-text6 {
        right: calc(50% - 89px);
        top: -227px;
        &::after {
            top: auto;
            left: 0;
            bottom: -113px;
            width: 1px;
            height: 105px;
        }
    }
}