.bonus__wr {
    padding: 0 15px;
}

.bonus__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1490px;
    margin: 0 auto;
}

.bonus__item {
    width: 50%;
    &:nth-child(1) {
        .bonus__item-img {
            opacity: 0;
            transition: all .4s linear;
            transition-delay: .5s;
        }
        .bonus__item-text {
            opacity: 0;
            transition: all .4s linear;
            transition-delay: 1s;
        }
    }
    &:nth-child(2) {
        .bonus__item-img {
            opacity: 0;
            transition: all .4s linear;
            transition-delay: 1.5s;
        }
        .bonus__item-text {
            opacity: 0;
            transition: all .4s linear;
            transition-delay: 2s;
        }
    }
}

.bonus__item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    position: relative;
    img {
        &:first-child {
            position: relative;
            z-index: 3;
        }
    }
    .bonus__img1 {
        position: absolute;
        top: 20%;
        left: 0%;
        z-index: 1;
        transition: all .4s linear;
        opacity: 0;
        transition-delay: .5s;
    }
    .bonus__img2 {
        position: absolute;
        top: 20%;
        right: 0%;
        z-index: 1;
        transition: all .4s linear;
        opacity: 0;
        transition-delay: .5s;
    }
    .bonus__img3 {
        position: absolute;
        bottom: 10%;
        right: 0%;
        z-index: 1;
        transition: all .4s linear;
        opacity: 0;
        transition-delay: .5s;
    }
    .bonus__img4 {
        position: absolute;
        top: 20%;
        left: 0%;
        z-index: 1;
        transition: all .4s linear;
        opacity: 0;
        transition-delay: .5s;
    }
    img {
        max-width: 100%;
        transition: all .4s linear;
        &:hover {
            transform: translateY(-20px);
            transition: all .4s linear;
        }
    }
    &-foot {
        position: relative;
        bottom: -50px;
        // left: 40px;
    }
}

.bonus__item-text {
    h3 {
        font-weight: bold;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 16px;
    }
    p {
        font-weight: normal;
        font-size: 24px;
        line-height: 130%;
        text-align: center;
        color: #FFFFFF;
        max-width: 480px;
        margin: 0 auto;
    }
}

@media (max-width: 1024px) {
    .bonus__item {
        width: 100%;
    }
    .bonus__wr {
        padding-top: 72px;
    }
}

@media (max-width: 514px) {
    .bonus__item-img {
        height: auto;
    }
    .bonus__item-text h3 {
        font-size: 18px;
    }
    .bonus__item-text p {
        font-size: 18px;
    }
}