.subscription {
    padding-top: 156px;
    margin-bottom: 77px;
    h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
        line-height: 120%;
        text-transform: uppercase;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        border-bottom: 1px solid #32343A;
        padding-bottom: 32px;
        margin-bottom: 57px;
    }
}

.subscription__inner {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
}

.subscription__left {
    width: 100%;
    max-width: 100%;
    display: flex;
    margin-bottom: 48px;
}

.subscription__right-wr {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.subscription__right {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    .subscription__item {
        width: 100%;
        max-width: 294px;
        margin-right: 32px;
        margin-bottom: 20px;
        justify-content: space-between;
        &:nth-child(4n) {
            margin-right: 0;
        }
    }
}

.subscription__item {
    background: rgba(24, 28, 36, 0.6);
    border: 1px solid #32343A;
    padding: 32px 32px 20px 24px;
    position: relative;
    margin-right: 10px;
    &:last-child {
        margin-right: 0;
    }
    h4 {
        font-weight: bold;
        font-size: 24px;
        line-height: 120%;
        color: #FFFFFF;
        margin-bottom: 24px;
    }
    span {
        white-space: nowrap;
        display: block;
        font-weight: normal;
        font-size: 18px;
        line-height: 120%;
        color: #FFFFFF;
        opacity: 0.5;
        margin-bottom: 30px;
    }
    p {
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        color: #FFFFFF;
        margin-bottom: 21px;
        span {
            display: inline;
            color: $yel;
            opacity: 1;
        }
    }
    .suptitle {
        font-weight: normal;
        font-size: 16px;
        line-height: 120%;
        color: $yel;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 7px 30px 10px;
        background: #12161D;
        border: 1px solid #32343A;
        left: 24px;
        top: -18px;
    }
}

.subscription__item-xs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    background: #222833;
    padding: 20px 32px;
    overflow: hidden;
    .subscription__item-top {
        width: 100%;
        padding: 0 50px 0 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h4 + span {
            display: flex;
            align-items: center;
            margin-bottom: 0;
            svg {
                margin-right: 10px;
            }
        }
    }
    .subscription__item-bot {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 350px;
        h4 {
            margin: 0;
        }
        a {
            margin: 0;
        }
    }
}

.subscription-img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 16px;
        margin-bottom: 0;
        opacity: 1;
        img {
            max-width: 100%;
        }
    }
}

.subscription__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $yel;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: #020202;
    border: 1px solid $yel;
    width: 100%;
    max-width: 169px;
    height: 46px;
    transition: all .3s linear;
    margin-top: 30px;
    &:hover {
        background: transparent;
        color: $yel;
        transition: all .3s linear;
    }
}

.subscription-promo {
    position: absolute;
    top: 30px;
    left: -60px;
    z-index: 1;
    transform: rotate(-45deg);
    background: $yel;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #090C12;
    padding: 6px 70px;
}

.subscription__item-right {
    text-align: right;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    h4 {
        margin-bottom: 0;
    }
    .subscription__btn {
        margin: 0;
    }
}

.subscription__subtext {
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    color: #FFFFFF;
    opacity: 0.5;
    margin-top: 12px;
    text-align: center;
    position: absolute;
    bottom: -30px;
    left: 0;
}

@media (max-width: 1535px) {
    .subscription__right .subscription__item {
        width: 100%;
        max-width: 19%;
    }
}

@media (max-width: 1400px) {
    .subscription__item-xs {
        h4 {
            padding-right: 50px;
        }
    }
    .subscription__right .subscription__item {
        max-width: 18%;
    }
}

@media (max-width: 1340px) {
    .subscription__item-right {
        flex-wrap: wrap;
        text-align: left;
        h4 {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 1210px) {
    .subscription__right .subscription__item {
        max-width: 18%;
        margin-right: 20px;
    }
}

@media (max-width: 1110px) {
    .subscription__right {
        flex-wrap: wrap;
        justify-content: space-between;
        .subscription__item {
            max-width: 43%;
            margin-right: 0;
            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }
    .subscription__item-xs .subscription__item-bot {
        max-width: 265px;
        h4 {
            padding: 0;
        }
    }
}

@media (max-width: 1024px) {
    .subscription h1 {
        font-size: 36px;
    }
    .subscription__inner {
        flex-wrap: wrap;
    }
    .subscription__left {
        margin-bottom: 35px;
    }
    .subscription__right .subscription__item {
        max-width: 42.9%;
    }
    .subscription__item-xs .subscription__item-top {
        flex-wrap: wrap;
        padding: 0 0 0 70px;
        .intr {
            width: 100%;
            &:last-child {
                margin-top: 20px;
            }
        }
    }
}

@media (max-width: 900px) {
    .subscription__right .subscription__item {
        max-width: 40.9%;
    }
}

@media (max-width: 710px) {
    .subscription {
        padding-top: 95px;
        margin-bottom: 40px;
    }
    .subscription__item-xs {
        flex-wrap: wrap;
        .subscription__item-top {
            padding: 0;
            .subscription-img {
                display: none;
            }
        }
    }
    .subscription-promo {
        transform: rotate(45deg) scale(.4);
        top: 3px;
        right: -83px;
        left: auto;
    }
    .subscription__right .subscription__item {
        max-width: 100%;
        padding-top: 30px;
    }
    .subscription__item-right {
        h4 {
            width: auto;
        }
    }
    .subscription__subtext {
        text-align: left;
    }
}

@media (max-width: 514px) {
    .subscription h1 {
        font-size: 20px;
        padding-bottom: 16px;
        margin-bottom: 24px;
    }
    .subscription__item-xs {
        padding: 24px 16px;
    }
    .subscription__item-xs h4 {
        padding-right: 0;
    }
    .subscription__item h4 {
        font-size: 18px;
        margin-bottom: 8px;
    }
    .subscription__item span {
        font-size: 14px;
        margin-bottom: 24px;
    }
    .subscription__item p {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .subscription__btn {
        font-size: 16px;
        height: 40px;
    }
    .subscription__right .subscription__item {
        padding: 30px 16px 24px;
        flex-wrap: wrap;
    }
    .subscription__item-right {
        width: 100%;
        .subscription__btn {
            display: flex;
        }
    }
    .subscription__item-left {
        width: 100%;
        .subscription__btn {
            display: none;
        }
    }
    .subscription__item-right {
        text-align: left;
        p {
            position: static;
            margin-top: 10px;
            margin-bottom: 0;
        }
    }
}