.profile {
    padding-top: 156px;
    margin-bottom: 77px;
    h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
        line-height: 120%;
        text-transform: uppercase;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        
    }
}

.profile__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #32343A;
    padding-bottom: 32px;
    margin-bottom: 57px;
}

.profile__person {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 312px;
}

.profile__person-left {
    span {
        display: block;
        text-align: right;
        &:first-child {
            font-weight: 600;
            font-size: 18px;
            line-height: 130%;
            color: #DDDDDD;
        }
        &:last-child {
            font-weight: normal;
            font-size: 16px;
            line-height: 130%;
            color: #DDDDDD;
        }
    }
}

.profile__person-right {
    width: 100%;
    max-width: 156px;
    a {
        font-weight: normal;
        font-size: 18px;
        line-height: 130%;
        text-align: center;
        color: #FFFFFF;
        border: 1px solid #838380;
        width: 100%;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s linear;
        &:hover {
            color: $yel;
            border-color: $yel;
            transition: all .3s linear;
        }
    }
}

.profile__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.profile__left {
    width: 100%;
    max-width: 40.466%;
    h4 {
        font-weight: 600;
        font-size: 22px;
        line-height: 120%;
        color: #DDDDDD;
        margin-bottom: 24px;
        & + p {
            font-weight: normal;
            font-size: 16px;
            line-height: 120%;
            color: #DDDDDD;
            margin-bottom: 16px;
        }
    }
}

.profile__right {
    width: 100%;
    max-width: 57.01%;
    h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 120%;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
}

.rate__inner {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.rate__item {
    width: 100%;
    max-width: 31.003%;
    border: 1px solid #32343A;
    text-align: center;
    padding-bottom: 16px;
    margin-right: 24px;
    margin-bottom: 24px;
    &:nth-child(3n) {
        margin-right: 0;
    }
}

.rate__item-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    height: 60px;
    border-bottom: 1px solid #32343A;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: #DDDDDD;
}

.rate__item-price {
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    padding: 16px 5px 32px;
}

.rate__item-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    a {
        font-weight: 600;
        font-size: 18px;
        line-height: 130%;
        text-align: center;
        color: $yel;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $yel;
        width: 100%;
        max-width: 208px;
        height: 48px;
        margin: 0 auto;
        transition: all .3s linear;
        &:hover {
            color: #090C12;
            background: $yel;
            transition: all .3s linear;
        }
    }
}

.rate__subtext {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 24px;
    a {
        font-weight: normal;
        font-size: 18px;
        line-height: 100%;
        text-align: center;
        text-decoration-line: underline;
        color: #FFFFFF;
        &:hover {
            text-decoration: none;
        }
    }
}

@media (max-width: 1366px) {
    .rate__item {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}
@media (max-width: 1279px) {
    .profile__inner {
        flex-wrap: wrap;
    }
    .profile__right {
        max-width: 100%;
    }
    .profile__left {
        max-width: 100%;
        margin-bottom: 24px;
    }
}

@media (max-width: 1024px) {
    .profile {
        .owl-dots {
            margin-top: 32px;
        }
    }
    .profile h1 {
        font-size: 36px;
    }
}

@media (max-width: 710px) {
    .profile {
        padding-top: 95px;
        margin-bottom: 40px;
    }
    .profile__top {
        flex-wrap: wrap;
    }
    .profile__person {
        max-width: 100%;
    }
    .rate__item {
        margin-right: 16px;
        margin-bottom: 16px;
        width: auto;
        max-width: 100%;
    }
}

@media (max-width: 580px) {
    .rate__item {
        margin-right: 0;
        margin-bottom: 0;
    }
}
@media (max-width: 514px) {
    .profile h1 {
        font-size: 20px;
        margin-bottom: 8px;
    }
    .rate__item {
        width: auto;
        max-width: 100%;
    }
    .profile__inner {
        position: relative;
    }
    .rate__subtext {
        position: absolute;
        bottom: 0;
        right: 0;
        width: auto;
    }
    .profile__person-left span:first-child {
        font-size: 16px;
    }
    .profile__person-left span:last-child {
        font-size: 14px;
    }
    .profile__top {
        padding-bottom: 16px;
        margin-bottom: 16px;
    }
    .profile__person-right {
        max-width: 86px;
    }
    .profile__person-right a {
        font-size: 14px;
        height: 32px;
    }
    .profile__left h4 {
        font-size: 18px;
        margin-bottom: 8px;
    }
    .profile__left h4+p {
        font-size: 14px;
        margin-bottom: 16px;
    }
    .profile__right h3 {
        font-size: 22px;
        margin-bottom: 16px;
    }
    .rate__item-title {
        font-size: 18px;
        height: 40px;
    }
    .rate__item-price {
        font-size: 20px;
        padding-bottom: 16px;
    }
    .rate__item-btn a {
        font-size: 16px;
        height: 40px;
    }
    .rate__subtext {
        font-size: 14px;
        bottom: -5px;
    }
}