.video {
    padding-top: 156px;
    margin-bottom: 90px;
    h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
        line-height: 120%;
        text-transform: uppercase;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        border-bottom: 1px solid #32343A;
        padding-bottom: 32px;
        margin-bottom: 32px;
    }
    h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 48px;
        font-weight: 500;
        font-size: 40px;
        line-height: 120%;
        color: #FFFFFF;
        text-align: center;
    }
}

.video__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    img, video, iframe {
        width: 100%;
        height: 620px;
    }
    img {
        min-width: 1504px;
    }
}

.video-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img, video {
        width: 100%;
    }
}

.video__play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: $yel;
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    transition: all .3s linear;
    svg {
        width: 44px;
        height: 44px;
        padding-left: 10px;
    }
    &:hover {
        transform: scale(1.2);
        transition: all .3s linear;
    }
}

@media (max-width: 1024px) {
    .video h1 {
        font-size: 36px;
    }
    .video h3 {
        font-size: 28px;
    }
    .video__play {
        width: 80px;
        height: 80px;
        top: calc(50% - 40px);
        left: calc(50% - 40px);
        svg {
            width: 30px;
            height: 30px;
        }
    }
    .video__inner img, .video__inner video, .video__inner iframe {
        height: 420px;
    }
    .video__inner img {
        min-width: 1024px;
    }
}

@media (max-width: 710px) {
    .video {
        padding-top: 80px;
        margin-bottom: 58px;
    }
}

@media (max-width: 514px) {
    .video h1 {
        font-size: 20px;
        padding-bottom: 16px;
        margin-bottom: 24px;
    }
    .video h3 {
        font-size: 22px;
        margin-bottom: 24px;
    }
    .video__play {
        width: 64px;
        height: 64px;
        top: calc(50% - 32px);
        left: calc(50% - 32px);
    }
    .video__inner img, .video__inner video, .video__inner iframe {
        height: 162px;
    }
    .video__inner img {
        min-width: 336px;
    }
}